body{
    margin: 0%;
    
    
}
.top{
  float: left ;
}
.top-head{
    height: 80px;
    background-color: none;
    margin-top: 20px;
}
.logo{
    margin-left: 20px;
}
.logo img{
    max-height: 75px;
    max-width: 100%;
    width: auto;
}
.search{
    background-color: #f7f7f7;
    margin-left: 60px;
    margin-top: 15px;
  
}
.search input{
   font-size: 30px;
   border: none;
   padding-bottom: 8px;
   margin-left: 3px;
   background-color: #f7f7f7;
}
.search button{
  width: 40px;
  padding: 15px;
  font-size: 20px;
  border: none;
  background-color: #f7f7f7;
}

.search input:hover{
    background-color: #efefef;
}
.search:hover{
    background-color: #efefef;
}
.promotional{
    margin-left: 15px;
    margin-top: 18px;
   
}
.call{
    margin-left: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: none; 
}







