body{
    margin: 0%;
    font-family: sans-serif ;
    
}
.top{
  float: left ;
}
.top-head{
    height: 80px;
    background-color: none;
    margin-top: 10px;
}
.logo{
    margin-left: 20px;
}
.logo img{
    max-height: 75px;
    max-width: 100%;
    width: auto;
}
.search{
    background-color: #f7f7f7;
    margin-left: 60px;
    margin-top: 15px;
  
}
.search input{
   font-size: 30px;
   border: none;
   padding-bottom: 8px;
   margin-left: 3px;
   background-color: #f7f7f7;
}
.search button{
  width: 40px;
  padding: 15px;
  font-size: 20px;
  border: none;
  background-color: #f7f7f7;
}

.search input:hover{
    background-color: #efefef;
}
.search:hover{
    background-color: #efefef;
}
.promotional{
    margin-left: 15px;
    margin-top: 18px;
   
}
.call{
    margin-left: 15px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration-line: none; 
}

.cart{
    font-size: 20px;
    color: gray;
    font-weight: bold;
    text-align: center;
    margin-left: 270px;
    margin-top: 20px;
    

}
.profile-icon{
    font-size: 20px;
    color: gray;
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
    
}
.fa-solid, .fas {
 
    font-weight: 900;
    color: grey;
}
.fa-regular, .far {
    font-weight: 400;
    color: grey;
}
a {
    text-decoration: none;
    color: black;
  }

  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(172, 1, 1);
  }
  
  li {
    float: left;
    margin-left: 40px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    margin-left: 20px;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
.mySlides img{
    max-width: 100%;
    height: 480px;
    vertical-align: middle;
}




/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



.promotionsection{
  height: 500px;
  background-color: #ca1118;
}

.promotiontext{
    font-weight: normal;
    font-size: 20px;
    letter-spacing: normal;
    line-height: initial;
}
.promotionbox{
  opacity: 1;
  display: block;
}

.iteamtwo{
  width: 300px;
  height: 350px;
  background-color: green;
  float: left;
  margin-right: 5px;
  margin-left: 5px;

}














.index-post {
  width: 1124px; transition: all 1.5s;
  height: 364px; overflow: hidden; 
  margin: auto;
  display: block;
  margin-top: 5%;
}

.contener {
  float: left;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 240px;
  height: 320px;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #00000073;
  transition: all 0.3s;
}

.contener:hover {
  transform: translateY(-6px);
  box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
}

.image-contener {
  display: block;
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.image-contener img {
  width: 100%;
}

.meta-contener {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 110px;
  padding: 10px 20px;
}

.meta-contener .title {
  padding: 0;
  margin: 10px 0;
  font-size: 22px;
  color: #0076b6;
}

.meta-contener .desc {
  font-size: 13px;
  text-align: center;
  color: #373737;
}

.button-contener {
  display: flex;
  align-items: center;
  width: 80%;
  text-align: center;
  height: 40px;
}

.button-contener .button {
  width: 100%;
  padding: 6px 0;
  text-decoration: none;
  background: linear-gradient(125deg, #00ff35 0%, #0091a7 60%);
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s;

}

.button-contener .button:hover {
  padding-left: 15px;
}

@media screen and (max-width:1124px){
  .index-post{
      width: 562px; height: 728px;
  }
}
@media screen and (max-width:562px){
  .index-post{
      width: 281px; height: 1496px;
  }
}
