body{
    margin: 0%;
    font-family: sans-serif ;
    
}
.top{
  float: left ;
}
.top-head{
    height: 80px;
    background-color: none;
    margin-top: 10px;
}
.logo{
    margin-left: 20px;
}
.logo img{
    max-height: 75px;
    max-width: 100%;
    width: auto;
}
.search{
    background-color: #f7f7f7;
    margin-left: 60px;
    margin-top: 15px;
  
}
.search input{
   font-size: 30px;
   border: none;
   padding-bottom: 8px;
   margin-left: 3px;
   background-color: #f7f7f7;
}
.search button{
  width: 40px;
  padding: 15px;
  font-size: 20px;
  border: none;
  background-color: #f7f7f7;
}

.search input:hover{
    background-color: #efefef;
}
.search:hover{
    background-color: #efefef;
}
.promotional{
    margin-left: 15px;
    margin-top: 18px;
   
}
.call{
    margin-left: 15px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration-line: none; 
}

.cart{
    font-size: 20px;
    color: gray;
    font-weight: bold;
    text-align: center;
    margin-left: 270px;
    margin-top: 20px;
    

}
.profile-icon{
    font-size: 20px;
    color: gray;
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
    margin-top: 20px;
    
}
.fa-solid, .fas {
 
    font-weight: 900;
    color: grey;
}
.fa-regular, .far {
    font-weight: 400;
    color: grey;
}
a {
    text-decoration: none;
    color: black;
  }

  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(172, 1, 1);
  }
  
  li {
    float: left;
    margin-left: 40px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    margin-left: 20px;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
.mySlides img{
    max-width: 100%;
    height: 480px;
    vertical-align: middle;
}




/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



.promotionsection{
  height: 500px;
  background-color: #ca1118;
  padding-left: 20px;
  
}

.promotiontext{
    font-weight: normal;
    font-size: 20px;
    letter-spacing: normal;
    line-height: initial;
    padding-top: 10px;
    color: #f7f7f7;
    
    
}
.promotionbox{
  opacity: 1;
  display: block;
}

.promotionitem{
  width: 330px;
  height: 300px;
  background-color: rgb(248, 248, 248);
  float: left;
  margin-right: 5px;
  margin-left: 5px;

}

.promotionitemtextbox{
  display: flex;
  margin-left: 10px;
  padding-top: 15px;
}

.promotionitemtextcal{
  width: 60px;
  background-color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  padding: 5px;
  color: rgb(73, 73, 73);
  border-top: 4px dashed rgb(88, 88, 88);
}

.promotionitemtextdate{
  margin-left: 15px;
}

.promotionbutton a {
  background-color: #f4433609;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.promotionbutton a:hover, a:active {
  background-color: rgb(184, 0, 0);
}












